<h1>About Me</h1>
<div class="about-content">
  <p class="about-p">
    My name is Emmy Zhang
    (Yes, Emmy is my full name, and my last name is pronounced like "John" ^__^).
    I'm a sophomore at Purdue University, majoring in Computer Science
    and minoring in Art and Design. I enjoy watching movies/TV shows, drawing,
    solving Rubik's Cubes, and baking cookies and banana bread.
    Puns are wonderful; I was a cat in another life; and Tumblr is my life.
    The craziest thing I've done is skydiving. Not entirely sure what I want
    to do after college, but it will definitely involve creating/building
    products that are useful and inspiring.
  </p>
  <div class="about-imgs">
    <img alt="" src="/static/images/profile_pic.jpg">
    <img alt="" src="/static/images/skydiving.jpg">

    <img alt="" src="/static/images/me_kiwi.png">
    <img alt="" src="/static/images/banana_bread.png">
  </div>
</div>
