
@font-face {
    /*Font source: Creative Market: "Awesome Darling" by Decavantona*/
    font-family: ComicNeue-Angular_Light;
    src: url(comic-neue-2.2/OTF/ComicNeue-Angular_Light.otf);
}

@font-face {
    /*Font source: Creative Market: "Awesome Darling" by Decavantona*/
    font-family: ComicNeue-Bold;
    src: url(comic-neue-2.2/OTF/ComicNeue-Angular_Bold.otf);
}

@font-face {
    /*Font source: Creative Market: "Awesome Darling" by Decavantona*/
    font-family: ComicNeue-Oblique;
    src: url(comic-neue-2.2/OTF/ComicNeue-Angular_Oblique.otf);
}

body {
  /*font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;*/
  font-family: ComicNeue-Angular_Light;
}

.nameLogo {
  width: 550px;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  /*Center the title horizontally, vertically*/
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%,-50%);
}

#nameTitle{
  margin: 0;
  padding: 0;
  position: absolute;
  /*Center the title horizontally, vertically*/
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%,-50%);
}

#nameTitle h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 75px;
  font-weight: 500;
  color: #585858;
}

#nameTitle h1 a {
  color: #585858;
  text-decoration: none;
}

#nameTitle h1 a:hover {
  font-weight: bold;
  color: #474747;
}

#navbar{
  position: absolute;;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

#navbar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navbar ul li {
   display: inline;
   padding: 20px;
   font-size: 25px;
}

#navbar ul li a {
  text-decoration: none;
  color: #585858;
}

#navbar ul li a:hover {
  color: #363636;
}

.aboutDescription {
  margin: 0;
  padding: 20px;
  position: absolute;
  /*Center the title horizontally, vertically*/
       top: 50%;
       left: 50%;
       margin-right: -50%;
       transform: translate(-50%,-50%);
}

.aboutDescription h2 {
  font-family: ComicNeue-Bold;
  font-size: 50px;
}

.aboutDescription h3 {
  font-size: 20px;
  font-family: ComicNeue-Angular_Light;
}

.aboutDescription p {
  font-size: 17px;
}

.aboutDescription span {
  font-size: 30px;
  font-style: cap;
}

.aboutDescription span a{
  text-decoration: none;
  color: #484848;
}

.tlt span {
  font-size: 17px;
}

.artGallery {
  display: flex;
  align-items: center;
}

@keyframes cf3FadeInOut {
 0% {
 opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}
.artGallery img{
  height: 250px;
  width: 250px;
  padding: 0;
  box-shadow: 5px 10px 10px #888888;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
  }

footer a{
  text-decoration: none;
  color: #585858;
}

footer a:visited{
  text-decoration: none;
  color: #585858;
}

footer p{
  font-size: 15px;
  display: inline;
  padding: 10px;
}
